<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m2comm.test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".clone_test.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".roomtest.addr.AddrActivity">

        </activity>
        <activity android:name=".navigation.NavigationMainActivity" />
        <activity android:name=".roomtest.RoomMainActivity" />
        <activity android:name=".sensor.SensorTest" />
        <activity android:name=".anim.AnimationActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".joystick.JoystickMain" />
        <activity android:name=".toast.CustomDesignActivity" />

        <service
            android:name=".music.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".music.MusicPlayerActivity" />
        <activity
            android:name=".coordinatorlayout.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recyclerview.RecyclerViewActivity"></activity>
        <activity android:name=".provider.GalleryActivity" />
        <activity
            android:name=".memo.MemoDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".memo.MemoActivity" />
        <activity android:name=".fragments.ViewPagerActivity" />
        <activity android:name=".fragments.ImageFragmentActivity" />
        <activity android:name=".ListViewTraing.ListViewExamActivity" />
        <activity android:name=".fragments.ColorFragmentActivity" />
        <activity android:name=".mvvm.ShareVmActivity" />
        <activity android:name=".mvvm.CalculaterMainActivity" />
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>